<a href="https://colab.research.google.com/github/abhilashhn1993/depression-assessment-on-twitter/blob/Dragon/ControlGroupMatchPairing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import io
import time

In [2]:
from google.colab import files
uploaded = files.upload()

Saving control_1000_UserProfile.xlsx to control_1000_UserProfile.xlsx
Saving Dep-controlgroup_match_pairing.xlsx to Dep-controlgroup_match_pairing.xlsx

In [85]:
data_dep = pd.read_excel(io.BytesIO(uploaded['Dep-controlgroup_match_pairing.xlsx']))
data_cg = pd.read_excel(io.BytesIO(uploaded['control_1000_UserProfile.xlsx']))

In [86]:
data_dep['parsed']=0
data_dep.head()

  Dep_users_Twitter_handle    Age  Gender  ... API_used gender_check parsed
0                  __Siiwe  19-29    male  ...       M3         True      0
1                 _301yung   <=18    male  ...       M3         True      0
2              _illust0907  19-29    male  ...       M3         True      0
3              _niebohater  19-29    male  ...       M3         True      0
4           _Roxiesaunders     21  female  ...    Azure         True      0

[5 rows x 13 columns]

In [87]:
data_cg['flag'] = 0
data_cg.head()

    Twitter_handle  ... flag
0   Mister_Maharaj  ...    0
1  Rudelynnngmail1  ...    0
2  TheDizzyLizzieB  ...    0
3  wordHAVEiframes  ...    0
4          tobioku  ...    0

[5 rows x 7 columns]

In [88]:
cols = ['Dep_User_handle', 'Age', 'Age_group', 'Gender', 'API', 'Date_of_diagnosis', 'CG_User_handle', 'C_Age', 'C_Age_group', 'C_Gender', 'C_API']
df_res = pd.DataFrame(columns=cols)
df_res.head()

Empty DataFrame
Columns: [Dep_User_handle, Age, Age_group, Gender, API, Date_of_diagnosis, CG_User_handle, C_Age, C_Age_group, C_Gender, C_API]
Index: []

In [89]:
row_index = 1
for index,row in data_dep.iterrows():
  user_id = row['Dep_users_Twitter_handle']
  dod = row['Date_of_Diagnosis']
  age = row['Age']
  age_group = row['Age_group']
  gender = row['Gender']
  api = row['Api_used']

  for ind, rw in data_cg.iterrows():
    if rw['flag']==0:
      if rw['Age'] == age and rw['Gender'] == gender and rw['Age_group'] == age_group:
        df_res.at[row_index,'Dep_User_handle'] = user_id
        df_res.at[row_index,'Age'] = age
        df_res.at[row_index,'Age_group'] = age_group
        df_res.at[row_index,'Gender'] = gender
        df_res.at[row_index,'API'] = api
        df_res.at[row_index,'Date_of_diagnosis'] = dod
        df_res.at[row_index,'CG_User_handle'] = rw['Twitter_handle']
        df_res.at[row_index,'C_Age'] = rw['Age']
        df_res.at[row_index,'C_Age_group'] = rw['Age_group']
        df_res.at[row_index,'C_Gender'] = rw['Gender']
        df_res.at[row_index,'C_API'] = rw['API_used']
        
        data_cg.at[ind, 'flag'] = 1
        data_dep.at[index, 'parsed'] = 1
        row_index = row_index+1
        break
      else:
        continue
    else:
      continue

In [90]:
data_dep['parsed'].value_counts()

1    218
0     12
Name: parsed, dtype: int64

In [91]:
dt2 = data_dep[data_dep['parsed']==0].reset_index(drop=True)
dt2.head()

  Dep_users_Twitter_handle Age  Gender  ... API_used gender_check parsed
0                  cumbust  14  female  ...    Azure         True      0
1              dewlyexo_cb   1  female  ...    Azure         True      0
2             Gollums_Luck  53    male  ...    Azure         True      0
3            Krustypickles  21    male  ...    Azure         True      0
4               lackingfat  21    male  ...    Azure         True      0

[5 rows x 13 columns]

In [92]:
dt2.tail()

   Dep_users_Twitter_handle Age  Gender  ... API_used gender_check parsed
7                   R2SNEE2   4  female  ...    Azure         True      0
8            SevenDaiiBlues  26  female  ...    Azure         True      0
9            Steph_Murray15  26  female  ...    Azure         True      0
10          superfuntimeees  17    male  ...    Azure         True      0
11                   wnjinz  21    male  ...    Azure         True      0

[5 rows x 13 columns]

In [93]:
#row_index = 1
for index,row in dt2.iterrows():
  user_id = row['Dep_users_Twitter_handle']
  dod = row['Date_of_Diagnosis']
  age = row['Age']
  age_group = row['Age_group']
  gender = row['Gender']
  api = row['Api_used']

  for indx, rww in data_cg.iterrows():
    if rww['flag']==0:
      if rww['Gender'] == gender and rww['Age'] >= age-4 or rww['Age'] <= age+4:
        df_res.at[row_index,'Dep_User_handle'] = user_id
        df_res.at[row_index,'Age'] = age
        df_res.at[row_index,'Age_group'] = age_group
        df_res.at[row_index,'Gender'] = gender
        df_res.at[row_index,'API'] = api
        df_res.at[row_index,'Date_of_diagnosis'] = dod
        df_res.at[row_index,'CG_User_handle'] = rww['Twitter_handle']
        df_res.at[row_index,'C_Age'] = rww['Age']
        df_res.at[row_index,'C_Age_group'] = rww['Age_group']
        df_res.at[row_index,'C_Gender'] = rww['Gender']
        df_res.at[row_index,'C_API'] = rww['API_used']

        data_cg.at[ind, 'flag'] = 1
        data_dep.at[index, 'parsed'] = 1
        row_index = row_index+1
        break
      else:
        continue
    else:
      continue

In [94]:
df_res.shape

(230, 11)

In [95]:
df_res.tail()

     Dep_User_handle Age Age_group  Gender  ... C_Age C_Age_group C_Gender  C_API
226          R2SNEE2   4      <=18  female  ...    40        >=40   female  Azure
227   SevenDaiiBlues  26     19-29  female  ...    40        >=40   female  Azure
228   Steph_Murray15  26     19-29  female  ...    40        >=40   female  Azure
229  superfuntimeees  17      <=18    male  ...    40        >=40     male  Azure
230           wnjinz  21     19-29    male  ...    40        >=40     male  Azure

[5 rows x 11 columns]

In [96]:
df_res.to_excel('match_pair.xlsx')
from google.colab import files
files.download('match_pair.xlsx')