<a href="https://colab.research.google.com/github/abhilashhn1993/depression-assessment-on-twitter/blob/Dragon/ControlGroupMatchPairing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
import io
import time

In [2]:
from google.colab import files
uploaded = files.upload()

Saving control_1000_UserProfile.xlsx to control_1000_UserProfile.xlsx
Saving Dep-controlgroup_match_pairing.xlsx to Dep-controlgroup_match_pairing.xlsx

In [3]:
data_dep = pd.read_excel(io.BytesIO(uploaded['Dep-controlgroup_match_pairing.xlsx']))
data_cg = pd.read_excel(io.BytesIO(uploaded['control_1000_UserProfile.xlsx']))

In [4]:
data_dep.head()

  Dep_users_Twitter_handle    Age  Gender  ... Gender.1 API_used gender_check
0                  __Siiwe  19-29    male  ...     male       M3         True
1                 _301yung   <=18    male  ...     male       M3         True
2              _illust0907  19-29    male  ...     male       M3         True
3              _niebohater  19-29    male  ...     male       M3         True
4           _Roxiesaunders     21  female  ...   female    Azure         True

[5 rows x 12 columns]

In [7]:
data_cg['flag'] = 0
data_cg.head()

    Twitter_handle  ... flag
0   Mister_Maharaj  ...    0
1  Rudelynnngmail1  ...    0
2  TheDizzyLizzieB  ...    0
3  wordHAVEiframes  ...    0
4          tobioku  ...    0

[5 rows x 7 columns]

In [26]:
dep_user = []
cg = []
for index,row in data_dep.head(5).iterrows():
  dep_user.append(row['Dep_users_Twitter_handle'])
  for ind, rw in data_cg.iterrows():
    cg.append(rw['Twitter_handle'])

In [32]:
x=0
for index,row in data_dep.head(5).iterrows():
  print(data_dep.iloc[x,0])

__Siiwe
__Siiwe
__Siiwe
__Siiwe
__Siiwe

In [28]:
print(dep_user)

['__Siiwe', '_301yung', '_illust0907', '_niebohater', '_Roxiesaunders']

In [62]:
cols = ['Dep_User_handle', 'Age', 'Age_group', 'Gender', 'API', 'Date_of_diagnosis', 'CG_User_handle', 'C_Age', 'C_Age_group', 'C_Gender', 'C_API']
df_res = pd.DataFrame(columns=cols)
df_res.head()

Empty DataFrame
Columns: [Dep_User_handle, Age, Age_group, Gender, API, Date_of_diagnosis, CG_User_handle, C_Age, C_Age_group, C_Gender, C_API]
Index: []

In [63]:
row_index = 1
for index,row in data_dep.iterrows():
  user_id = row['Dep_users_Twitter_handle']
  dod = row['Date_of_Diagnosis']
  age = row['Age']
  age_group = row['Age_group']
  gender = row['Gender']
  api = row['Api_used']

  for ind, rw in data_cg.iterrows():
    if rw['flag']==0:
      if rw['Age'] == age and rw['Gender'] == gender and rw['Age_group'] == age_group:
        df_res.at[row_index,'Dep_User_handle'] = user_id
        df_res.at[row_index,'Age'] = age
        df_res.at[row_index,'Age_group'] = age_group
        df_res.at[row_index,'Gender'] = gender
        df_res.at[row_index,'API'] = api
        df_res.at[row_index,'Date_of_diagnosis'] = dod
        df_res.at[row_index,'CG_User_handle'] = rw['Twitter_handle']
        df_res.at[row_index,'C_Age'] = rw['Age']
        df_res.at[row_index,'C_Age_group'] = rw['Age_group']
        df_res.at[row_index,'C_Gender'] = rw['Gender']
        df_res.at[row_index,'C_API'] = rw['API_used']
        
        rw['flag'] = 1
        row_index = row_index+1
        break
      else:
        continue
    else:
      continue

In [64]:
#df_res.at[0,'Dep_User_handle'] = user_id
df_res.head()

  Dep_User_handle    Age Age_group  Gender  ...  C_Age C_Age_group C_Gender  C_API
1         __Siiwe  19-29     19-29    male  ...  19-29       19-29     male     M3
2        _301yung   <=18      <=18    male  ...   <=18        <=18     male     M3
3     _illust0907  19-29     19-29    male  ...  19-29       19-29     male     M3
4     _niebohater  19-29     19-29    male  ...  19-29       19-29     male     M3
5  _Roxiesaunders     21     19-29  female  ...     21       19-29   female  Azure

[5 rows x 11 columns]

In [65]:
df_res.to_excel('match_pair.xlsx')
from google.colab import files
files.download('match_pair.xlsx')