<a href="https://colab.research.google.com/github/abhilashhn1993/depression-assessment-on-twitter/blob/Dragon/Code/AgenGenderM3Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
!pip install m3inference
!pip install tweepy

In [0]:
import re
import os
import string
import pandas as pd
import numpy as np
import datetime
from io import BytesIO
import tweepy

In [0]:
twitter_keys = {
        'consumer_key':        '',
        'consumer_secret':     '',
        'access_token_key':    '',
        'access_token_secret': ''
    }

In [0]:
auth = tweepy.OAuthHandler(twitter_keys['consumer_key'], twitter_keys['consumer_secret'])
auth.set_access_token(twitter_keys['access_token_key'], twitter_keys['access_token_secret'])
api = tweepy.API(auth)

In [0]:
df = pd.read_excel('/content/drive/My Drive/Twitter Depression Analysis/Dataset/TwitterUsers_Profile.xlsx', encoding='Latin-1', sheet_name='Type 1', 
                   keep_default_na=False)
df.head()

        Twitter_ID  ...  Gender
0     @taegifIower  ...      NA
1  @doodybeardLIVE  ...    male
2    @sunnylesbian  ...  female
3   @Ohsnapitzzash  ...  female
4   @ItzOverhauled  ...      NA

[5 rows x 4 columns]

In [0]:
import pprint
from m3inference import M3Twitter
m3twitter=M3Twitter()

In [0]:
for i in range(len(df)):
  if df.iloc[i,3] == 'NA':
    try:
      userobj = m3twitter.infer_screen_name(df.iloc[i,0])
      df.iloc[i,2] = max(userobj['output']['age'], key=userobj['output']['age'].get)
      if userobj['output']['gender']['male'] > 0.5:
        df.iloc[i,3] = "Male"
      else:
        df.iloc[i,3] = "Female"
    except:
      missed_users.append(df.iloc[i,0])
      time.sleep(240)
      pass

In [0]:
df.head()

In [0]:
df.to_csv('User_Profile_type2.csv')

In [0]:
prd = m3twitter.infer_screen_name('elizabethraine')