<a href="https://colab.research.google.com/github/abhilashhn1993/depression-assessment-on-twitter/blob/Dragon/Code/AgenGenderProfiling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install tweepy
!pip install --upgrade azure-cognitiveservices-vision-face

In [0]:
import tweepy
import pandas as pd
import numpy as np
import asyncio
import io
import glob
import os
import sys
import time
import uuid
import requests
from urllib.parse import urlparse
from io import BytesIO
from PIL import Image, ImageDraw
from azure.cognitiveservices.vision.face import FaceClient
from msrest.authentication import CognitiveServicesCredentials
from azure.cognitiveservices.vision.face.models import TrainingStatusType, Person, SnapshotObjectType, OperationStatusType
from PIL import Image
import requests
from io import BytesIO
import pandas as pd

In [0]:
twitter_keys = {
        'consumer_key':        '',
        'consumer_secret':     '',
        'access_token_key':    '',
        'access_token_secret': ''
    }

In [0]:
auth = tweepy.OAuthHandler(twitter_keys['consumer_key'], twitter_keys['consumer_secret'])
auth.set_access_token(twitter_keys['access_token_key'], twitter_keys['access_token_secret'])
api = tweepy.API(auth)

In [0]:
face_client = FaceClient('https://facedetecttweet.cognitiveservices.azure.com/', CognitiveServicesCredentials(''))

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
import io
df = pd.read_excel(io.BytesIO(uploaded['random_tweets.xlsx']))

In [15]:
df.head()

                                              Tweets  ...                       date
0       Idiosyncratic turn-ons are my favorite kind   ...  2019-11-29 23:59:59+00:00
1  I've always loved the kind way you treat both ...  ...  2019-11-29 23:59:59+00:00
2  The flavors in this recipe cannot be beat! #ve...  ...  2019-11-29 23:59:59+00:00
3   LIVE w/The SQUAD on CALL OF DUTY: MODERN WARFARE  ...  2019-11-29 23:59:59+00:00
4  Buzzin Super Bounty! New crypto-rewards from l...  ...  2019-11-29 23:59:59+00:00

[5 rows x 3 columns]

In [0]:
user_list = []
for user in df['Twitter_handle'].dropna():
    user_list.append(user)
print(user_list)

In [0]:
len(user_list)

In [0]:
cols = ['Twitter_ID','Image URL','Age','Gender','API_used']
df_user = pd.DataFrame(columns=cols)
df_user.head()

In [0]:
image_url = []
row_index = 0
for user in user_list:
    try:
        tweets = api.get_user(user)
        imgURL = tweets.profile_image_url.replace('_normal','')
        
        df_user.loc[row_index,'Twitter_ID'] = user
        df_user.loc[row_index, 'Image URL'] = imgURL
        df_user.loc[row_index, 'API_used'] = 'Azure'
        
        detected_faces = face_client.face.detect_with_url(url=imgURL,
                                                          return_face_attributes=["age","gender","headPose","smile","facialHair","glasses","emotion",
                                                                                  "hair","makeup","occlusion","accessories","blur","exposure","noise"],
                                                          detection_model='detection_01',return_face_landmarks=True)
        if not detected_faces:
            df_user.loc[row_index,['Age', 'Gender']] = 'NA'
            row_index=row_index+1
        else:
            for face in detected_faces:
                df_user.loc[row_index, ['Age']] = face.face_attributes.age
                df_user.loc[row_index, ['Gender']] = face.face_attributes.gender.replace('Gender.','')
                row_index=row_index+1
    except:
        pass

In [0]:
df_user.head()

In [0]:
df_user.to_csv('control_group_user_profile.csv')
df_user.shape

In [0]:
from google.colab import files
files.download('control_group_user_profile.csv')